*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#banner{
    background-image: url('/new-year-new-me/images/banner/banner1.png');
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text{
    text-align: end;
    position: relative;
    top: 216px;
    right:230px;
    font-size: 16px;
}
.primary-btn{
    background-color: orange;
    border: 0;
    height: 64px;
    width: 160px;
    border-radius: 5px;
    position: relative;
    top: 30px;
    font-size: 20px;
}
.header-title{
    font-size: 65px;
}
/* main section styles */
.my-failures-image{
    width: 569px;
    height: 723.3px;
    position: relative;
    top: 131px;
    left: 206px;
}
.my-failures-title{
    text-align: left;
    justify-content: center;
    position: relative;
    margin-left: 59%;
    bottom: 455px;
    font-size: 16px;
}
h2{
    font-size: 40px;
    font-weight: 700px;
   
}
.my-failures-subtitle{
    position: relative;
    margin: 20px;
    font-size: 16px;
}
.checkmark-icon{
    width: 20px;
    position: relative;
    top: 25px;
    right:24px;
}
/* my plan section styles */
h3{
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
}
.my-plans-container{
   max-width: 50%;
   margin: auto;
   position: relative;
   top: 100px;
   display: flex;
}
.my-plans-image{
    padding-left: 70px;
    text-align: center;
}
.my-plans-subtitle{
    color: #737272;
}
/* contect stlyes */
.contect-image{
    position: relative;
    top: 200px;
    width: 63%;
    margin: auto;
    background-image: url('/new-year-new-me/images/watch.png');
    background-repeat: no-repeat;
}
.contect-image-subtitle{
   font-size: 40px;
   font-weight: 700;
   position: relative;
   bottom: 250px;
   color: white;
   left:26px;
}

.contect-btn{
    background-color: white;
    color: orange;
    border: 0;
    position: relative;
    bottom: 230px;
    border-radius: 5px;
    left:30px;
    width: 160px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
}